@font-face{
    font-family: 'Acme';
    src: url("/Acme/Acme-Regular.ttf");
}

body {
    font-family: Acme;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(212, 221, 228);
}

input{
    background-color: burlywood;
    border-radius: 50px;
    border: 2px solid black;
    width: 70%;
    padding-block: 5px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 500px;
    text-align: start;
    padding: 40px;
    margin-top: 30px;
}

.container p {
    font-size: xx-large;
}

.container a {
    color: rgb(12, 90, 208);
    text-decoration: none;
    margin-left: 15px;
}

.container a:hover {
    text-decoration: underline;
}

::placeholder{
    color: white;
}

.checkbox {
    width: auto;
}

button {
    width: 30%;
    margin-left: 10px;
    border: hidden;
    border-radius: 20px;
    padding: 5px;
    color: white;
    background-color: rgb(5, 153, 202);
    font-weight: bold;
}